<div class="" ng-controller="homeController">
    <section class="pt--30 section-margin">
        <div class="container">
            <div class="category-gallery-block">
                <a href="" class="single-block hr-large">
                    <img src="content/other/cat-gal-large.png" alt="">
                </a>
                <div class="single-block inner-block-wrapper">
                    <a href="" class="single-image mid-image">
                        <img src="content/other/cat-gal-mid.jpg" alt="">
                    </a>
                    <a href="" class="single-image small-image">
                        <img src="content/other/cat-gal-small.jpg" alt="">
                    </a>
                    <a href="" class="single-image small-image">
                        <img src="content/other/cat-gal-small.jpg" alt="">
                    </a>
                    <a href="" class="single-image mid-image">
                        <img src="content/other/cat-gal-mid.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-margin">
        <div class="container novelties" ng-init="getNovelties()">
            <div class="section-title section-title--bordered">
                <h2>Новинки</h2>
            </div>
            <div class="section-content">
                <div ng-repeat="n in noveltiesList" class="product-card">
                    <div class="product-body">
                        <div class="product-image">
                            <img src="{{n.link_cover}}" alt="Обложка">
                        </div>
                        <div class="product-hover-toolbar">
                            <a href="" class="single-btn">
                                <img src="content/icons/bag.svg" alt="buy">
                            </a>
                            <a href="" class="single-btn">
                                <img src="content/icons/hearth.svg" alt="like">
                            </a>
                            <a href="#!/books/{{n.id}}" class="single-btn">
                                <img src="content/icons/eye.svg" alt="eye">
                            </a>
                        </div>
                        <div class="product-cost">
                            <span class="price">{{n.price}} руб.</span>
                            <del ng-show="n.discount != 0" class="price-old"> 550.00 руб</del>
                            <span ng-show="n.discount !=0" class="price-discount">{{n.discount}}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-margin">
        <div class="container novelties" ng-init="getSale()">
            <div class="section-title section-title--bordered">
                <h2>Распродажа</h2>
            </div>
            <div class="section-content">
                <div ng-repeat="s in saleList" class="product-card">
                    <div class="product-body">
                        <div class="product-image">
                            <img src="{{s.link_cover}}" alt="Обложка">
                        </div>
                        <div class="product-hover-toolbar">
                            <a href="" class="single-btn">
                                <img src="content/icons/bag.svg" alt="buy">
                            </a>
                            <a href="" class="single-btn">
                                <img src="content/icons/hearth.svg" alt="like">
                            </a>
                            <a href="#!/books/{{s.id}}" class="single-btn">
                                <img src="content/icons/eye.svg" alt="">
                            </a>
                        </div>
                        <div class="product-cost">
                            <span class="price">{{s.price}} руб.</span>
                            <del ng-show="n.discount != 0" class="price-old"> 550.00 руб</del>
                            <span ng-show="n.discount !=0" class="price-discount">{{s.discount}}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-margin">
        <div class="container novelties" ng-init="getAdvices()">
            <div class="section-title section-title--bordered">
                <h2>Выбор редакции</h2>
            </div>
            <div class="section-content">
                <div ng-repeat="a in advancesList" class="product-card">
                    <div class="product-body">
                        <div class="product-image">
                            <img src="{{a.link_cover}}" alt="Обложка">
                        </div>
                        <div class="product-hover-toolbar">
                            <a href="" class="single-btn">
                                <img src="content/icons/bag.svg" alt="buy">
                            </a>
                            <a href="" class="single-btn">
                                <img src="content/icons/hearth.svg" alt="like">
                            </a>
                            <a href="#!/books/{{a.id}}" class="single-btn">
                                <img src="content/icons/eye.svg" alt="">
                            </a>
                        </div>
                        <div class="product-cost">
                            <span class="price">{{a.price}} руб.</span>
                            <del ng-show="a.discount != 0" class="price-old"> 550.00 руб</del>
                            <span ng-show="a.discount !=0" class="price-discount">{{a.discount}}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>