<div class="bottom-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <nav ng-class="{'show':clicked}" ng-click="clicked = !clicked" class="category-nav">
                    <div>
                        <a href="javascript:void(0)" class="icon-li menu category-trigger">
                            Выбор жанра&nbsp&#11163;
                        </a>
                    </div>
                    <ul class="category-menu">
                        <li ng-repeat="genre in genres" class="cat-item">
                            <a class="animated" href="#!/shop-list/genre/{{genre.id}}">{{genre.name}}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="" ng-controller="homeController">
    <section class="pt--30 section-margin">
        <div class="container">
            <div class="category-gallery-block">
                <a href="#!/compilation/3/Фентези" class="single-block hr-large">
                    <img src="storage_repo/homepage/fantasy.jpg" alt="">
                </a>
                <div class="single-block inner-block-wrapper">
                    <a href="#!/compilation/1/Детективы" class="single-image mid-image">
                        <img src="storage_repo/homepage/detectives.jpg" alt="">
                    </a>
                    <a href="#!/compilation/6/Книги для детей" class="single-image small-image">
                        <img src="storage_repo/homepage/for-children.jpeg" alt="">
                    </a>
                    <a href="#!/compilation/11/Историческая и современная проза" class="single-image small-image">
                        <img src="storage_repo/homepage/proza.jpg" alt="">
                    </a>
                    <a href="#!/shop-list" class="single-image mid-image">
                        <img src="storage_repo/homepage/akcia.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-margin">
        <div class="container novelties" ng-init="getNovelties()">
            <div class="section-title section-title--bordered">
                <h2>Новинки</h2>
            </div>
            <div class="section-content">
                <div ng-repeat="n in noveltiesList" class="product-card">
                    <div class="product-body">
                        <div class="product-image">
                            <img src="{{n.link_cover}}" alt="Обложка">
                        </div>
                        <div class="product-hover-toolbar">
                            <a ng-show="checkAuth()" href="" class="single-btn" ng-click="addToCartJS(n.id)">
                                <img src="content/icons/bag.svg" alt="buy">
                            </a>
<!--                            <a href="" class="single-btn">-->
<!--                                <img src="content/icons/hearth.svg" alt="like">-->
<!--                            </a>-->
                            <a href="#!/books/{{n.id}}" class="single-btn">
                                <img src="content/icons/eye.svg" alt="eye">
                            </a>
                        </div>
                        <div class="product-cost">
                            <span class="price">{{n.price*(1-n.discount/100)}} руб.</span>
                            <del ng-show="n.discount != 0" class="price-old"> {{n.price}} руб.</del>
                            <span ng-show="n.discount !=0" class="price-discount">{{n.discount}}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-margin">
        <div class="container novelties" ng-init="getSale()">
            <div class="section-title section-title--bordered">
                <h2>Распродажа</h2>
            </div>
            <div class="section-content">
                <div ng-repeat="s in saleList" class="product-card">
                    <div class="product-body">
                        <div class="product-image">
                            <img src="{{s.link_cover}}" alt="Обложка">
                        </div>
                        <div class="product-hover-toolbar">
                            <a ng-show="checkAuth()" href="" class="single-btn" ng-click="addToCartJS(s.id)">
                                <img src="content/icons/bag.svg" alt="buy">
                            </a>
<!--                            <a href="" class="single-btn">-->
<!--                                <img src="content/icons/hearth.svg" alt="like">-->
<!--                            </a>-->
                            <a href="#!/books/{{s.id}}" class="single-btn">
                                <img src="content/icons/eye.svg" alt="">
                            </a>
                        </div>
                        <div class="product-cost">
                            <span class="price">{{s.price*(1-s.discount/100)}} руб.</span>
                            <del ng-show="s.discount != 0" class="price-old"> {{s.price}} руб.</del>
                            <span ng-show="s.discount !=0" class="price-discount">{{s.discount}}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-margin">
        <div class="container novelties" ng-init="getAdvices()">
            <div class="section-title section-title--bordered">
                <h2>Выбор редакции</h2>
            </div>
            <div class="section-content">
                <div ng-repeat="a in advancesList" class="product-card">
                    <div class="product-body">
                        <div class="product-image">
                            <img src="{{a.link_cover}}" alt="Обложка">
                        </div>
                        <div class="product-hover-toolbar">
                            <a ng-show="checkAuth()" href="" class="single-btn" ng-click="addToCartJS(a.id)">
                                <img src="content/icons/bag.svg" alt="buy">
                            </a>
<!--                            <a href="" class="single-btn">-->
<!--                                <img src="content/icons/hearth.svg" alt="like">-->
<!--                            </a>-->
                            <a href="#!/books/{{a.id}}" class="single-btn">
                                <img src="content/icons/eye.svg" alt="">
                            </a>
                        </div>
                        <div class="product-cost">
                            <span class="price">{{a.price*(1-a.discount/100)}} руб.</span>
                            <del ng-show="a.discount != 0" class="price-old"> {{a.price}} руб.</del>
                            <span ng-show="a.discount !=0" class="price-discount">{{a.discount}}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>