<h3>Корзина</h3>
<table class="table table-hover" ng-show="Cart.items.length > 0" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <td>Название</td>
        <td>Цена</td>
        <td></td>
        <td>Количество</td>
        <td></td>
        <td>Общая сумма</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ci in Cart.items">
        <td>{{ci.bookTitle}}</td>
        <td>{{ci.pricePerBook}}</td>
        <td>
            <button class="btn btn-danger" ng-click="decrementQuantity(ci.bookId)">-</button>
        </td>
        <td>{{ci.quantity}}</td>
        <td>
            <button class="btn btn-danger" ng-click="incrementQuantity(ci.bookId)">+</button>
        </td>
        <td>{{ci.price}}</td>
        <td>
            <button class="btn btn-danger" ng-click="deleteBookInCartById(ci.bookId)">Удалить товар
            </button>
        </td>
    </tr>
    <tr>
        <td colspan="5" style="text-align: right"><b>Общая сумма</b></td>
        <td>{{Cart.totalPrice}}</td>
        <td></td>
    </tr>
    </tbody>
</table>
<span ng-show="Cart.items.length == 0">Ваша корзина пуста</span>
<button ng-show="Cart.items.length > 0" class="btn btn-primary" ng-click="goToOrderSubmit()">Перейти к оформлению заказа</button>
<button ng-show="Cart.items.length > 0"  class="btn btn-danger" ng-click="clearCart()">Очистить корзину</button>