* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-content img {
    max-height: 320px;
}

.product-grid-content img {
    max-height: 470px;
}

.product-grid-content h3 {
    line-height: 1em;
    font-size: 20px;
    max-height: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-content ul {
    padding-left: 0;
}

.user-content ul a {
    cursor: pointer;
}

.section-content .product-card .product-header > product-name {
    font-size: 1.1rem;
}

body, html {
    height: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 14px;
    line-height: 1.75;
    width: 100%;
    background: #fff;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: .5rem;
    padding: 0;
    line-height: 1.25;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
    transition: 400ms;
}

nav, footer, section {
    display: block;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.animated:hover {
    color: #62ab00 !important;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.price {
    color: #929292;
    font-size: 18px;
    color: #62ab00;
    font-weight: 600;
}

.price-old {
    color: #999999;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
}

.price-discount {
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 24px;
    padding: 0 7px;
    min-width: 46px;
    background: #bd0018;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 5px;
    z-index: 3;
    border-radius: 3px;
}

/* =====TOP-HEADER===== */
.header-top-list {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.header-top-list li {
    margin: 1em;
}

.icon-li:before {
    content: "";
    display: inline-block !important;
    position: relative !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    vertical-align: middle;
    padding-right: 30px;
}

.comp:before {
    background: url(content/icons/compare.svg);
    width: 24px;
    height: 24px;
}

.hearth:before {
    background: url(content/icons/hearth.svg);
    width: 16px;
    height: 16px;
}

.admin:before {
    background: url(content/icons/admin-tools.svg);
    width: 16px;
    height: 16px;
}

.user:before {
    background: url(content/icons/user.svg);
    width: 20px;
    height: 20px;
}

.acc:before {
    background: url(content/icons/edit-account.svg);
    width: 20px;
    height: 20px;
}

.orders-history:before {
    background: url(content/icons/order-history.svg);
    width: 20px;
    height: 20px;
}

.logout:before {
    background: url(content/icons/logout.svg);
    width: 20px;
    height: 20px;
}

.user {
    position: relative;
    display: inline-block;
}

.user-content {
    display: none;
    position: absolute;
    border: 2px blue;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: auto;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 150ms;
}

.user-menu:hover > .user-content {
    display: block;
}

.user-content > ul li {
    padding: 5px;
}

/* =====MIDDLE-HEADER===== */

.middle-header {
    padding: 10px 0px;
    line-height: 1;
}

.middle-content {
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.find-group {
    position: relative;
    padding: 0 10px;
    width: 100%;
}

.find-group input {
    font-size: 16px;
    color: #333;
    width: 100%;
    height: 52px;
    float: none;
    font-weight: 400;
    background: #fff;
    border: 2px solid #eee;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 0 125px 0 20px;
}

.find-group button {
    position: absolute;
    top: 0;
    right: 0;
    background: #62ab00;
    border: 0;
    line-height: 52px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    padding: 0 35px;
    color: #fff;
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.font-weight-bold {
    font-weight: 700;
}

.login-group {
    line-height: 18px;
    text-align: left;
    padding-left: 10px;
}

.middle-header a {
    background: linear-gradient(to right, #62ab00, #62ab00 50%, rgb(12, 135, 236) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    background-position: 100%;
}

.cart-group {
    padding: 10px 0 10px 10px;
    position: relative;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.cart-group img {
    height: 38px;
}

.icon {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
}

.text {
    padding: 2px 0;
    justify-content: space-between;
}

.counter {
    height: 23px;
    width: 23px;
    line-height: 23px;
    border-radius: 100%;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    color: #fff;
    background: #bd0018;
    position: absolute;
    right: 0px;
    top: -1px;
}

.cart-menu {
    padding-top: 20px;
    padding: 40px;
    max-width: 402px;
    position: absolute;
    right: 0;
    border: 2px blue;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    border: 2px solid #eee;
    opacity: 0;
    transition: .6s;
    -o-transition: .6s;
    -webkit-transition: .6s;
    pointer-events: none;
}

.cart-menu:before, .cart-menu:after {
    border-bottom-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.cart-menu:before {
    border: 8px solid;
    border-color: transparent transparent #f1f1f1 transparent;
    z-index: 1;
    right: 26px;
    top: -16px;
}

.cart-menu:after {
    order: 10px solid;
    border-color: transparent transparent #f1f1f1 transparent;
    right: 24px;
    top: -20px;
}


.cart:hover .cart-menu {
    opacity: 1;
    pointer-events: visible;
}

.cart-item-mini {
    display: flex;
    justify-content: flex-start;
    line-height: 1.75;
}

.cart-item-mini img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}

.text-block {
    display: flex;
    flex-direction: column;
}

.cart-item-mini-control-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cart-item-mini-bt {
    border-style: none;
    background: none;
    cursor: pointer;
    width: 20px;
    font-size: 16px;
}

.cart-item-mini-control-group .price {
    width: 100%;
}

.cart-item-mini-control-group input {
    text-align: center;
    max-width: 40px;
    margin-right: 10px;
}

.cart-item-mini-control-group .price {
    margin-left: 10px;
}

.cart-control-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cart-menu hr {
    margin: 10px 0;
}

.btn {
    border-radius: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 50px;
    font-size: 13px;
    font-weight: 600;
    padding: 0 50px;
    border-radius: 3px;
    text-transform: uppercase;
    line-height: 1;
}

.cart-control-group .btn {
    width: 151px;
    height: 53px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 52px;
    margin-right: 10px;
    padding: 0;
}

.btn--primary {
    background: #62ab00 !important;
    color: #fff !important;
}

.btn--primary:hover {
    background: #333 !important;
}

/* ======BOTTOM-HEADER====== */
.bottom-header {
    align-items: center !important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.align-items-center {
    align-items: center !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto,
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-lg-6 {
    max-width: 50%;
    flex: 0 0 50%;
}

.col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.header-phone {
    display: flex;
}

.header-phone .icon {
    width: 34px;
    height: 34px;
    display: flex;
    margin-right: 15px;
    padding-right: 0;
}

.header-phone p {
    line-height: 1;
    margin-bottom: 5px;
}

.header-phone p.number {
    font-weight: 700;
    color: #333;
}

.header-phone p:last-child {
    margin-bottom: 0;
}

.header-phone p {
    line-height: 1;
    margin-bottom: 5px;
}

.flex-lg-right {
    display: flex;
    justify-content: flex-end !important;
}

ul.main-menu {
    display: flex;
    position: relative;
    transition: .4s;
}

ul.main-menu > li.menu-item:first-child {
    padding-left: 0;
}

ul.main-menu .has-children {
    position: relative;
}

ul.main-menu > li.menu-item > a {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
}

.category-nav {
    position: relative;
    max-width: 270px;
    z-index: 180;
}

.category-nav .icon-li:before {
    margin: 0px;
}

.category-trigger {
    position: relative;
    color: #000;
    text-decoration: none;
    border: 2px solid #eeeeee;
    display: block;
    font-weight: 700;
    padding: 12px 10px 12px 15px;
    text-align: center;
    padding: 12px 20px 12px 20px;
    font-size: 15px;
}

.category-trigger:before {
    position: absolute;
    content: '';
    font-size: 12px;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 0;
    margin-right: 25px;
}

.category-menu {
    top: 53px;
    list-style: none;
    margin: 0;
    width: 100%;
    position: absolute;
    z-index: 800;
    border: 2px solid #eeeeee;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    background: #fff;
    max-width: 270px;
}

.category-nav.show .category-menu {
    visibility: visible;
    opacity: 1;
    pointer-events: visible;
}

.cat-item {
    padding: 0 10px;
}

.cat-item a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 25px 10px 15px;
    color: #555555;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: 400;
    display: block;
}

.menu:before {
    background: url(content/icons/menu.svg);
    width: 20px;
    height: 20px;
}

/* ======SHOP-LIST====== */

.shop-border {
    overflow: hidden;
}

.shop-product-wrap {
    overflow: hidden;
}

.space-db--30 {
    margin-bottom: -30px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.product-card {
    text-align: center;
    margin-bottom: 30px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.product-card .product-header {
    padding: 0 15px;
}

div {
    display: block;
}

.shop-product-wrap .product-card {
    margin-bottom: 30px;
}

.product-card {
    text-align: center;
    max-width: none;
}

.product-card .product-header {
    padding: 0 15px;
}

.shop-border [class*="col"] .product-card .product-card--body {
    position: relative;
}

.product-card .author {
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    color: #333;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
}

.shop-border [class*="col"] .product-card .product-card--body::before {
    position: absolute;
    background: #e5e5e5;
    content: "";
    left: -16px;
    height: 100%;
    width: 1px;
    top: 0;
}

.product-body {
    position: relative;

}

.product-image {
    position: relative;
}

.product-image img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.product-cost {
    text-align: center;
    position: relative;
    margin-top: 24px;
}

.product-hover-toolbar {
    position: absolute;
    opacity: 0;
    top: 60%;
    left: 50%;
    margin: auto;
    background: #fff;
    z-index: 4;
    border-radius: 3px;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 15%);
    transform: translate(-50%, -50%);
    transition: all 300ms ease-in-out;
    display: flex;
}

.product-hover-toolbar .single-btn {
    line-height: 47px;
    padding: 15.5px;
    border-right: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
}

.product-hover-toolbar .single-btn img {
    max-height: 20px;
    min-width: 20px;
    filter: invert(50%);
    transition: 150ms;
}

.product-card:hover .product-hover-toolbar {
    opacity: 1;
    top: 55%;
}

.product-hover-toolbar .single-btn:hover > img {
    filter: none;
}

.price-filter {
    display: flex;
}

.category-nav ul {
    padding: 0;
}

.price-label {
    padding: 0 20px;
}

.shop-toolbar {
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
}

.sort {
    min-width: 200px;
}

.sort .form-select {
    height: 52px;
    cursor: pointer;
    border: 2px solid #eeeeee;
}

.shop-toolbar .counter {
    top: 15px;
    right: 15px;
    background: #047293;
}

.clean-filter a {
    color: darkred;
    font-weight: bolder;
    text-align: center;
}

.active {
    background-color: #c1eaf8;
}

.tab-content .active{
    background-color: white;
}

.category-menu .cat-item {
    padding: 0;
}

.index-selector select {
    z-index: 999;
}

.page-link {
    cursor: pointer;
}

.pagination-block {
    display: flex;
    padding: 20px 0;
    justify-content: flex-end;
}

.pagination-block .container .pagination {
    position: absolute;
}

.pagination {
    padding: 0 27px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.index-selector {
    display: flex;
}

.no-books {
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
}

.index-selector select {
    min-width: 80px;
    max-width: 150px;
}

.pagination-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100%;
    line-height: 28px;
    flex-wrap: wrap;
}

.pagination-bar li {
    position: relative;
}

.pagination-bar li:before {
    content: "";
    border: 11px solid;
    border-color: transparent transparent #62ab00 transparent;
    position: absolute;
    width: 22px;
    left: 0;
    right: 0;
    top: -22px;
    margin: auto;
    opacity: 0;
}

.pagination-bar li .single-btn {
    color: #555;
    background: none;
    font-size: 16px;
    border: none;
    padding: 0;
    font-weight: 600;
    width: 54px;
    height: 48px;
    border-radius: 0;
    -webkit-border-radius: 0;
    line-height: 48px;
    position: relative;
    text-align: center;
}

.pagination-bar .single-btn:before {
    content: "";
    top: -2px;
    bottom: -2px;
    left: 0;
    right: 0;
    border: 2px solid #62ab00;
    position: absolute;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    opacity: 0;
}

.pagination-bar .single-btn:after {
    content: "";
    border: 9px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    width: 18px;
    left: 0;
    right: 0;
    top: -18px;
    margin: auto;
    z-index: 2;
    opacity: 0;
}

.pt-2, .py-2 {
    padding-top: .5rem;
}

/* ======HOME-PAGE====== */
.pt--15 {
    padding-top: 15px;
}

.pt--30 {
    padding-top: 50px;
}

.section-margin {
    margin-bottom: 80px;
}

.category-gallery-block {
    margin-top: 0px;
    overflow: hidden;
    margin-top: -30px;
}

.category-gallery-block .inner-block-wrapper {
    padding-left: 15px;
    margin-top: -30px;
}

.category-gallery-block .single-block {
    display: block;
    width: 100%;
}

.category-gallery-block .single-block img {
    margin-top: 0;
    width: 100%;
}

.category-gallery-block .single-block.hr-large {
    width: 24.36%;
    padding-right: 15px;
    float: left;
}

.category-gallery-block .single-block {
    width: 75.64%;
    float: left;
    display: block;
}

.category-gallery-block .inner-block-wrapper .single-image:nth-child(odd) {
    padding-right: 15px;
}

.category-gallery-block .inner-block-wrapper .mid-image {
    width: 54.749%;
    margin-top: 30px;
    margin-top: 10px;
}

.category-gallery-block .inner-block-wrapper .single-image {
    float: left;
    margin-top: 30px;
    display: block;
}

.category-gallery-block .inner-block-wrapper .single-image:nth-child(2n) {
    padding-left: 15px;
}

.category-gallery-block .inner-block-wrapper .small-image {
    width: 45.2%;
}

.section-title--bordered {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.section-title {
    text-align: center;
    margin-top: -8px;
    margin-bottom: 40px;
}

.section-title--bordered h2 {
    position: relative;
    padding-bottom: 10px;
    font-size: 25px;
}

.section-title h2 {
    position: relative;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    color: #222222;
    font-weight: 600;
    font-size: 18px;
}

.section-title--bordered h2:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: #62ab00;
}

.section-content {
    display: flex;
    justify-content: center;
}

.section-content .product-cost {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.section-content .product-card {
    flex: none;
    padding-left: 2px;
    padding-right: 2px;
    max-width: 20%;
}

.section-test {
    max-width: 20%;
    background-color: #333;
    width: 20%;
    position: relative;
    height: 250px;
    width: 250px;
}

.checkout-title {
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 20px;
    padding-bottom: 10px;
    text-transform: none;
    width: 100%;
    color: #1a1f2b;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

/*-- Checkout Form --*/
.checkout-form {
    color: #d4d4d4;
}

.checkout-form label {
    color: #1a1f2b;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    margin: 0 0 5px;
}

.checkout-form .nice-select {
    width: 100%;
    background-color: #f4f4f4;
    border: 1px solid transparent;
    border-radius: 0;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    height: 45px;
    color: #14191e;
    margin-bottom: 15px;
}

.checkout-form .nice-select::after {
    width: 6px;
    height: 6px;
    border-width: 1px;
    right: 20px;
    border-color: #565f69;
}

.checkout-form .nice-select .current {
    color: #565f69;
    display: block;
    line-height: 23px;
}

.checkout-form .nice-select .list {
    width: 100%;
}

.checkout-form input {
    width: 100%;
    background-color: #f4f4f4;
    border: 1px solid transparent;
    border-radius: 0;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    color: #14191e;
    margin-bottom: 15px;
}

.checkout-form input[type=checkbox] {
    width: auto;
}

.checkout-form input:focus {
    box-shadow: none;
    outline: none;
    /*	        border-color: #62ab00;*/
}

.checkout-form .check-box {
    margin-right: 70px;
}

.checkout-form .check-box:last-child {
    margin-right: 0;
}

.checkout-form .check-box input[type=checkbox] {
    display: none;
}

.checkout-form .check-box input[type=checkbox] + label {
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #14191e;
    margin: 0;
}

.checkout-form .check-box input[type=checkbox] + label::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    display: block;
    border: 2px solid #565f69;
    content: "";
    transition: all 0.3s ease 0s;
}

.checkout-form .check-box input[type=checkbox] + label::after {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    line-height: 20px;
    opacity: 0;
    color: #333;
    width: 20px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.checkout-form .check-box input[type=checkbox]:checked + label::before {
    border: 2px solid #565f69;
}

.checkout-form .check-box input[type=checkbox]:checked + label::after {
    opacity: 1;
}

.checkout-main {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: flex;
}

/*-- Shipping Form --*/
#shipping-form {
    box-sizing: border-box;
    display: block;
}

#shipping-form .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 15px;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}

.mb--15 {
    margin-bottom: 15px !important;
}

.mb--20 {
    margin-bottom: 20px !important;
}

.mt--15 {
    margin-top: 15px !important;
}

.mt--30 {
    margin-top: 30px !important;
}

.ml--30 {
    margin-left: 30px !important;
}

/*-- Checkout Cart Total --*/
.checkout-cart-total {
    background-color: #f9f9f9;
    color: #333;
    padding: 35px 30px;
}

.checkout-cart-total .checkout-title {
    border-bottom: 1px solid #dfdfdf;
    font-size: 24px;
    margin: 0 0 20px;
    padding-bottom: 10px;
    text-transform: capitalize;
    width: 100%;
    font-weight: 700;
}

.checkout-cart-total h4 {
    line-height: 23px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    /*        @include mx-mobile-xs {
                font-size: 19px;
            } */
}

.checkout-cart-total h4:first-child {
    margin-top: 0;
    margin-bottom: 25px;
}

.checkout-cart-total h4:last-child {
    margin-top: 15px;
    margin-bottom: 0;
}

.checkout-cart-total h4 span {
    float: right;
    display: block;
}

.checkout-cart-total ul {
    border-bottom: 1px solid #dfdfdf;
    color: #333;
}

.checkout-cart-total ul li {
    color: inherit;
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
    display: block;
    margin-bottom: 16px;
    overflow: hidden;
}

.checkout-cart-total ul li span {
    color: inherit;
    float: right;
}

.checkout-cart-total ul li span.left {
    float: left;
    width: 70%;
}

.checkout-cart-total p {
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: #333;
    padding: 10px 0;
    border-bottom: 1px solid #dfdfdf;
    margin: 0;
}

.checkout-cart-total p span {
    float: right;
}

/*-- Checkout Payment Method --*/
.checkout-payment-method {
    background-color: #14191e;
    padding: 45px;
}

/*-- Single Payment Method --*/
.single-method {
    margin-bottom: 20px;
}

.single-method:last-child {
    margin-bottom: 0;
}

.single-method input[type=radio] {
    display: none;
}

.single-method input[type=radio] + label {
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #d4d4d4;
    margin: 0;
}

.single-method input[type=radio] + label::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    display: block;
    border: 2px solid #565f69;
    content: "";
    transition: all 0.3s ease 0s;
}

.single-method input[type=radio] + label::after {
    position: absolute;
    left: 5px;
    top: 5px;
    display: block;
    content: "";
    opacity: 0;
    background-color: #d4d4d4;
    width: 10px;
    text-align: center;
    height: 10px;
    transition: all 0.3s ease 0s;
}

.single-method input[type=radio]:checked + label::before {
    border: 2px solid #565f69;
}

.single-method input[type=radio]:checked + label::after {
    opacity: 1;
}

.single-method input[type=checkbox] {
    display: none;
}

.single-method input[type=checkbox] + label {
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #d4d4d4;
    margin: 0;
}

.single-method input[type=checkbox] + label::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    display: block;
    border: 2px solid #999999;
    content: "";
    transition: all 0.3s ease 0s;
}

.single-method input[type=checkbox] + label::after {
    position: absolute;
    left: 4px;
    top: 4px;
    display: block;
    content: "";
    opacity: 0;
    background-color: #d4d4d4;
    width: 8px;
    text-align: center;
    height: 8px;
    transition: all 0.3s ease 0s;
}

.single-method input[type=checkbox]:checked + label::before {
    border: 2px solid #565f69;
}

.single-method input[type=checkbox]:checked + label::after {
    opacity: 1;
}

.single-method p {
    display: none;
    margin-top: 8px;
    font-size: 14px;
    color: #d4d4d4;
    line-height: 23px;
}

/*-- Place Order --*/
.place-order {
    border-radius: 3px;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    background-color: #62ab00;
    transition: 0.4s;
}

.place-order:hover {
    background: #b85e5e;
    border-color: #b85e5e;
    color: #fff;
}

/*=====  End of 14. Checkout  ======*/
.checkout-area.checkout-area-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

.term-block {
    margin-bottom: 10px;
}

.method-notice {
    display: flex;
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 15px;
    position: relative;
    background-color: #f7f6f7;
    color: #333;
    border-top: 3px solid #62ab00;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
}

.method-notice:before {
    font-family: "Font Awesome 5 Free";
    content: '\f249';
    display: inline-block;
    position: absolute;
    top: 1em;
    color: #62ab00;
    left: 1.5em;
}

.order-note-block label {
    font-family: Rubik, Arial, Helvetica, sans-serif;
    margin: 0 0 0 0;
    line-height: 2;
    color: #333;
}

.order-note-block textarea {
    height: 100px;
    line-height: 1.5;
    padding: 0px;
    width: 100%;
    background: #f4f4f4;
    border: none;
    /*      @include placeholder {
              color: #333;
          }*/
}

.order-note-block textarea:focus {
    box-shadow: none;
    outline: none;
}

.block-border {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 16px;
}

.checkout-quick-box {
    padding: 16px 32px 16px 20px;
    margin: 0 0 2em;
    position: relative;
    background-color: #f7f6f7;
    color: #333;
    border-top: 3px solid #62ab00;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
}

.checkout-quick-box p {
    margin-bottom: 0;
}

.checkout-quick-box p i {
    /*         color: #62ab00; */
    margin-right: 10px;
}

.checkout-quick-box p a {
    color: #b85e5e;
}

.checkout-quick-box p a:hover {
    /*         color: #62ab00; */
}

.checkout-slidedown-box {
    display: none;
}

.quick-login-form {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    padding: 20px;
    color: #333;
    margin: 0 0 20px;
}

.quick-login-form .form-group input {
    margin-bottom: 0;
}

.quick-login-form label {
    display: block;
}

.quick-login-form input {
    border: 1px solid #e6e6e6;
    height: 36px;
    margin: 0 0 14px;
    max-width: 100%;
    padding: 0 0 0 10px;
    width: 370px;
}

.pass-lost {
    color: #a43d21;
}

.pass-lost:hover {
    /*   color: #62ab00;*/
}

.checkout_coupon {
    border: 1px solid #d3ced2;
    padding: 20px;
    margin-bottom: 2em;
    text-align: left;
    border-radius: 5px;
}

.checkout_coupon input {
    background: #f4f4f4;
    border: none;
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    max-width: 100%;
    padding: 0 0 0 10px;
    vertical-align: middle;
    margin-right: 10px;
    width: 180px;
}

.checkout_coupon .btn {
    font-size: 14px;
    margin-top: 15px;
    /*       @include mobile {
               margin-top: 0;
           }*/
}

.quick-title {
    margin-bottom: 40px;
    line-height: 1.35;
    font-size: 28px;
    color: #333;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    /*  @include tablet {
          font-size: 36px;
      } */
}

.check-bx-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*  @include mobile{
          flex-direction: row;
      } */
}

.check-bx-wrapper .check-box + .check-box {
    margin-top: 10px;
    /*    @include mobile {
            margin-top: 0;
        } */
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.book-details-info .book-title {
    text-transform: capitalize;
    margin: 0px 0 15px 0;
    background: none;
    color: #282828;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
}

@media (min-width: 768px) {
    .book-details-info .book-title {
        font-size: 20px;
        line-height: 1;
    }
}

.book-details-info .add-to-cart-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: -10px;
}

.book-details-info .add-to-cart-row > div {
    margin-bottom: 10px;
}

.add-cart-btn .btn {
    font-size: 12px;
    font-weight: 500;
    border: 2px solid #62ab00;
    color: #62ab00;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 30px;
    height: 44px;
}

.book-details-info .add-to-cart-row .add-cart-btn .btn {
    padding: 0 30px;
    color: #333;
    font-size: 15px;
    font-weight: 700;
    text-transform: none;
}

.genre-block {
    text-transform: capitalize;
    font-size: 13px;
    color: #333;
    margin-bottom: 13px;
}

.genre-block a:hover {
    color: #62ab00;
}

.book-details-info .list-unstyled li {
    color: #181818;
    display: block;
    line-height: 22px;
}

.book-details-info .list-unstyled li .list-value {
    color: #62ab00;
}

.book-details-info .price-block {
    margin-bottom: 13px;
}

.book-details-info .price-block .price-new {
    color: #62ab00;
    font-size: 18px;
    font-weight: 600;
}

.book-details-info .rating-widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 13px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.book-details-info .rating-widget .rating-block {
    margin-right: 8px;
}

.rating-block .star_on {
    color: #eccd00;
}

.rating-block span {
    color: #b6b6b6;
    font-size: 16px;
}

.review-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.review-comment .text {
    border: 1px solid #ececec;
    width: calc(100% - 70px);
    padding: 1em 1em 0;
    border-radius: 3px;
    position: relative;
}

.review-comment .text .author {
    margin-bottom: 10px;
    font-size: 14px;
}

.review-comment .text p {
    padding-bottom: 18px;
    margin-bottom: 0;
}

.review-wrapper .title-lg {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.rating-row p {
    margin-right: 3px;
    display: inline-block;
    font-weight: 500;
}

.d-block {
    display: block !important;
}

.site-form .form-group {
    margin-bottom: 20px;
}

.site-form label {
    color: #333;
    display: block;
    margin: 0 0 5px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

textarea {
    overflow: auto;
    resize: vertical;
}

.site-form textarea.form-control {
    height: 130px;
    width: 100%;
}

.site-form .form-control {
    border-radius: 0;
    border: 1px solid #ececec;
    background: #f4f4f4;
}

textarea.form-control {
    height: auto;
}

.form-control {
    display: inline-block;
    padding: 10px 15px;
    line-height: 30px;
    height: 52px;
    color: #7b7b7b;
    font-size: 15px;
    width: 100%;
    border: 2px solid #eeeeee;
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.site-form .submit-btn {
    margin-top: 15px;
}

.btn-black {
    height: 50px;
    padding: 0 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    background: #333;
    font-size: 13px;
    font-weight: 500;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    border: none;
    outline: none;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

/********** login form *********/

.login-form {
    border: 1px solid #e3e3e3;
    padding: 45px 20px 20px 20px;
    text-align: left;
    border-radius: 5px;
}

.login-form label {
    display: block;
    font-size: 13px;
    margin-bottom: 8px;
    font-weight: 400;
    text-transform: capitalize;
}

.login-form input {
    height: 40px;
    color: #7b7b7b;
    font-size: 13px;
}

.login-form input:focus {
    border-color: #62ab00;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.login-form .btn {
    text-transform: capitalize;
    font-size: 15px;
}

.btn-outlined {
    background: transparent;
    border: 2px solid #ececec;
    color: #333;
}

.btn-outlined:hover {
    border: 2px solid #62ab00;
    background: #62ab00;
    color: #fff;
    cursor: pointer;
}

.login-title {
    font-size: 27px;
    line-height: 23px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 18px;
    color: #333;
    font-weight: 600;
}

/********** SIMILAR *********/

.section-title--bordered {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.section-title {
    margin-bottom: 40px;
}

.section-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.similar .product-card {
    max-width: none;
}

.similar .product-card h3 {
    font-size: 1.2rem;
}

.similar .product-card img {
    width: 160px;
}

/********* TAB *********/

md-tabs.md-default-theme .md-tab.md-active,
md-tabs .md-tab.md-active,
md-tabs.md-default-theme .md-tab.md-active md-icon,
md-tabs .md-tab.md-active md-icon,
md-tabs.md-default-theme .md-tab.md-focused,
md-tabs .md-tab.md-focused,
md-tabs.md-default-theme .md-tab.md-focused md-icon,
md-tabs .md-tab.md-focused md-icon {
    color: #62ab00;
}

md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar {
    color: #62ab00;
    background: #62ab00;
}

.col-13 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 25%
}

.account-main {
    display: -ms-flexbox;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
    /*-ms-flex-wrap: wrap;*/
    /*flex-wrap: wrap;*/
    margin-right: -15px;
    margin-left: -15px
}

.account-main > .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 75%
}

.my-account-tab-menu {
    flex-direction: column;
}

.my-account-tab-menu a {
    border: 1px solid #cecece;
    border-bottom: none;
    color: #212529;
    font-weight: 500;
    font-size: 12px;
    display: block;
    padding: 15px 15px 13px;
    text-transform: uppercase;
}

.my-account-tab-menu a:last-child {
    border-bottom: 1px solid #cecece;
}

.my-account-tab-menu a:hover, .my-account-tab-menu a.active {
    background-color: #62ab00;
    color: #fff;
}

.my-account-tab-menu a i {
    font-size: 14px;
    text-align: center;
    width: 25px;
}

/*-- My Account Content -*/
.my-account-content {
    font-size: 14px;
    border: 1px solid #cecece;
    padding: 30px;
    color: #212529;
}

.my-account-content h3 {
    border-bottom: 1px dashed #cecece;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.my-account-content .welcome a {
    color: inherit;
}

.my-account-content .welcome a:hover {
    color: #62ab00;
}

.my-account-content .welcome strong {
    font-weight: 600;
}

.my-account-content a.btn i {
    padding-right: 5px;
}

.my-account-content button.save-change-btn {
    background: none;
    border: none;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background-color: internal-light-dark(#efefef, #3b3b3b);
    border-color: internal-light-dark(#efefef, #3b3b3b);
    width: 140px;
    padding: 10px 0;
    border-radius: 3px;
}

.my-account-content button.save-change-btn:hover {
    background-color: #62ab00;
}

/*-- My Account Table -*/
.my-account-table {
    white-space: nowrap;
    font-size: 15px;
}

.my-account-table table th, .my-account-table .table th {
    padding: 10px;
    background: #14191E;
    color: #fff;
    border-color: #565f69;
}

.my-account-table table td, .my-account-table .table td {
    padding: 20px 10px;
    vertical-align: middle;
    border-color: #565f69;
}

.my-account-table table td a:hover, .my-account-table .table td a:hover {
    color: #62ab00;
}

.saved-message {
    border-top: 3px solid #62ab00;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    font-size: 13px;
    padding: 20px;
}

/*-- My Account Details Form -*/
.account-details-form h4 {
    margin: 0;
}

.account-details-form input {
    display: block;
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 0;
    line-height: 24px;
    padding: 11px 25px;
    color: #212529;
    background: transparent;
    border-radius: 3px;
}

.account-details-form input:focus {
    border-color: #62ab00;
    box-shadow: none;
    outline: none;
}

.breadcrumb-contents .breadcrumb {
    background: transparent;
    justify-content: start;
    padding: 20px 0;
}

.breadcrumb-contents .breadcrumb .breadcrumb-item {
    font-size: 14px;
    color: #333;
}

.breadcrumb-contents .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    color: #333;
    content: "";
    font-family: "Ionicons";
    font-size: 12px;
}

.breadcrumb-contents .breadcrumb .breadcrumb-item a:hover {
    color: #62ab00;
}

.breadcrumb-contents .breadcrumb .breadcrumb-item.active a {
    color: #62ab00;
}

.inner-page-sec-padding {
    padding-bottom: 50px;
}

.fa-tachometer-alt:before {
    content: "\f3fd";
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
}

.show {
    display: block;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.table-responsive > .table-bordered {
    border: 0
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.table th {
    font-weight: bold;
}

.table thead th {
    vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
    border-top: 0;
}

.sb-custom-tab {
    text-align: center;
}

.nav.nav-tabs {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 50px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
}

.nav.nav-tabs .nav-item {
    font-size: 15px;
    color: #282828;
    line-height: 48px;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    background: #fff;
    position: relative;
    margin: 1px;
    border-radius: 3px;
}

.nav.nav-tabs .nav-item .icon {
    display: flex;
    min-height: 48px;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 13px;
}

.nav.nav-tabs .nav-item .nav-link {
    padding: 0 30px;
    border: 2px solid transparent;
    margin: -2px;
    transition: border-color 0s, color 0.4s;
}

.nav.nav-tabs .nav-item .nav-link.active, .sb-custom-tab .nav.nav-tabs .nav-item .nav-link.show {
    border-color: #62ab00;
    color: #62ab00;
}

.nav.nav-tabs .nav-item .nav-link.active ~ .arrow-icon, .sb-custom-tab .nav.nav-tabs .nav-item .nav-link.show ~ .arrow-icon {
    opacity: 1;
}

.nav.nav-tabs .nav-item .nav-link:hover {
    color: #62ab00;
}

.nav.nav-tabs .arrow-icon {
    position: absolute;
    left: calc(50% - 10px);
    opacity: 0;
    transition: 0s;
    display: none;
}

.nav.nav-tabs .arrow-icon:before {
    position: absolute;
    content: "";
    border-width: 15px 12px;
    border-style: solid;
    border-color: #62ab00 transparent transparent transparent;
}

.nav.nav-tabs .arrow-icon:after {
    position: absolute;
    content: "";
    border-width: 13px 10px;
    border-style: solid;
    left: 2px;
    border-color: #fff transparent transparent transparent;
    top: -2px;
}

.nav.nav-tabs.nav-style-2 {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #e5e5e5;
}

.nav.nav-tabs.nav-style-2 .nav-item:last-child .nav-link {
    margin-right: 0 !important;
}

.nav.nav-tabs.nav-style-2 .nav-link {
    border: none !important;
    position: relative;
    color: #222;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    display: block;
    font-size: 14px;
    padding: 0 0 10px;
    margin: -1px 10px;
}

.nav.nav-tabs.nav-style-2 .nav-link:before {
    position: absolute;
    content: "";
    left: 10%;
    right: 10%;
    height: 2px;
    bottom: 0;
    background: transparent;
}

.nav.nav-tabs.nav-style-2 .nav-link.active, .nav.nav-tabs.nav-style-2 .nav-link.show {
    color: #62ab00;
}

.nav.nav-tabs.nav-style-2 .nav-link.active:before, .nav.nav-tabs.nav-style-2 .nav-link.show:before {
    background: #62ab00;
}

.nav.nav-tabs.nav-style-2 .nav-link.active:hover, .nav.nav-tabs.nav-style-2 .nav-link.show:hover {
    color: #62ab00;
}

.tab-content > .tab-pane {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: 0s;
    height: 0;
}

.tab-content > .tab-pane.show, .tab-content > .tab-pane.active {
    visibility: visible;
    opacity: 1;
    height: 100%;
}

.tab-content > .tab-pane.show .product-card, .tab-content > .tab-pane.active .product-card {
    animation: 0.6s linear zoomIn;
}

.auth-reg {
    justify-content: center
}

.footer-link {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #3b6600;
    padding: 15px 80px;
    text-decoration-line: none;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 100px;
    cursor: pointer;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer-contacts ol, .content-contacts {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-around;
}

.footer-contacts ol li {
    flex-grow: 1;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-left: 15px;
    padding-left: 20px;
    min-width: 317px;
}

.footer-contacts ol li::marker {
    content: attr(id);
}

.footer-title {
    width: 340px;
    text-align: start;
    color: #FFFFFF;
}

.footer-text {
    padding-top: 15px;
    padding-bottom: 50px;
    width: 395px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6
}

.unsub .footer-link {
    bottom: 50px !important;
}

.unsub .footer-info-text {
    margin-top: 45px !important;
    margin-bottom: 22px !important;
}

.footer {
    background: #62ab00;
    margin-top: 112px;
}

.footer-contacts {
    padding-top: 64px;
}

.footer-copyright {
    padding-top: 64px;
}

.footer-copyright .text {
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

hr {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer-info-text {
    margin-top: 91px;
}

/*-- Contacts -*/
.contacts-big-title, .middle-title, .bt-submit {
    text-align: center;
}

.contacts-big-title {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
}

.contacts-main-text {
    width: 780px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 16px;
}

.content-contacts {
    padding-left: 100px;
    padding-right: 100px;
}

.contacts-img {
    width: 100%;
}

.contacts-infobox {
    flex-grow: 1;
    padding-top: 135px;
    padding-right: 100px;
}

.address {
    padding-top: 56px;
}

.contacts-infobox .text {
    padding-top: 24px;
}

.contacts-infobox .small-title {
    padding-top: 40px;
}

.contacts-infobox ul {
    padding-top: 6px;
}

.contacts-infobox ul li, .contacts-infobox ul li a {
    padding-top: 16px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-decoration-line: none;
    list-style-position: inside;
}

.phone-logo {
    list-style: url("content/icons/phone-logo.svg");
}

.site-logo {
    list-style: url("content/icons/site-logo.svg");
}

.mail-logo:before {
    background: url(content/icons/mail-logo.svg);
    width: 20px;
    height: 20px;
}

.vk-logo:before {
    background: url(content/icons/vk-icon.svg);
    width: 20px;
    height: 20px;
}

.twitter-logo:before {
    background: url(content/icons/twitter-icon.svg);
    width: 20px;
    height: 20px;
}

.instagram-logo:before {
    background: url(content/icons/instagram-icon.svg);
    width: 20px;
    height: 20px;
}

.message-form-panel {
    padding: 56px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 540px;
    box-sizing: border-box;
    margin-top: 57px;
    margin-bottom: 96px;
}

.small-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.input-fields {
    padding-top: 20px;
}

.input-field {
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    padding: 21px 36px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin-top: 5px;
    margin-bottom: 32px;
}

.bt-submit {
    margin-top: 40px;
    background: #62ab00;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100%;
    padding: 23px 183px;
}

.contacts-big-title, .middle-title, .bt-submit {
    text-align: center;
}

.input-fields label {
    margin-bottom: 8px;
+ font-size: 16 px;
    line-height: 30px;
    letter-spacing: 0.04em;
    /*color: #62ab00;*/
    opacity: 0.8;
}

.search-helper {
    max-height: 300px;
    position: absolute;
    z-index: 999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 80%;
    background-color: #f1f1f1;
    overflow-y: scroll;
}

.helper-pane{
    padding-left: 0px;
}

.help-item a{
    padding-left: 10px;
    cursor: pointer;
}

.help-item a{
    display: inline-block;
    line-height: 3;
    width: 100%;
}

.help-item:hover{
    background-color: #2F96B4;
}

.helper-pane hr{
    margin: 0;
    border: 2px solid #888869;
}

.helper-pane i{
    padding-left: 30px;
    line-height: 3;
    font-size: 16px;
}

.mid-text{
    font-size: 24px;
}

.map{
    display: flex;
    justify-content: center;
}

.edit-user-bt{
    min-width: 10px;
    min-height: 10px;
    padding-left: 20px;
    cursor: pointer;
}

td{
    align-items: center;
    vertical-align: center;
}

.role-selector{
    min-height: 30px;
    min-width: 175px;
    padding: 10px;
    cursor: pointer;
}

.role-selector option{
    padding: 20px;
    margin: 20px;
    font-size: 14px;
}

.table-img{
    max-width: 150px;
}

.table input{
    min-height: 30px;
    max-width: 40px;
}