<section class="similar">
    <div class="container">
        <div class="section-title section-title--bordered">
            <h2>{{title}}</h2>
        </div>
        <div class="row">
            <div ng-repeat="book in bookList" class="col-lg-3 col-sm-6">
                <div class="product-card">
                    <div class="product-header">
                        <a ng-repeat="author in book.authors" href="#!/authors/{{author.id}}" class="author" tabindex="0">
                            {{author.name + ($last ? '' : ', ')}}
                        </a>
                        <h3><a href="#!/books/{{book.id}}" tabindex="0">{{book.title}}</a>
                        </h3>
                    </div>
                    <div class="product-card--body">
                        <div class="card-image">
                            <img src="{{book.link_cover}}">
                        </div>
                    </div>

                    <div class="price-block">
                        <span class="price">{{book.price}} <span class="fas fa-ruble-sign"></span></span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
