<main id="content" class="page-section inner-page-sec-padding-bottom space-db--20">
    <div class="container">
        <div class="row-checkout">
            <div class="col-12">
                <div class="checkout-form">
                    <div class="row row-40">
                        <div class="col-12">
                            <h1 class="quick-title">Оформление заказа</h1>
                        </div>
                        <div class="checkout-main">
                            <div class="col-lg-5">
                                <div class="row-checkout">
                                    <div class="col-12">
                                        <div class="checkout-cart-total">
                                            <h2 class="checkout-title">ВАШ ЗАКАЗ</h2>
                                            <h4>Название <span>Цена</span></h4>
                                            <ul>
                                                <li ng-repeat="item in Cart.items">
                                                    <span class="left">{{item.bookTitle}}</span>
                                                    <span class="right">{{item.price}}</span>
                                                </li>
                                            </ul>
                                            <h4>Итого: <span>{{Cart.totalPrice}}</span></h4>
                                            <div class="method-notice mt--25">
                                                <article>
                                                    <h3 class="d-none sr-only"></h3>
                                                    Список вариантов оплаты заказа
                                                </article>
                                            </div>
                                            <div class="term-block">
                                                <input type="checkbox" id="accept_terms2" ng-model="isPaid" ng-click="setPaid()">
                                                <label for="accept_terms2">Заказ оплатил</label>
                                            </div>
                                            <button ng-disabled="!isPaid" ng-click="createOrder()" class="place-order w-100">Оформить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
