<div class="row auth-reg">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
        <form>
            <div class="login-form">
                <h4 class="login-title">Регистрация</h4>
                <p><span class="font-weight-bold">Я новый пользователь</span> </p>
                <div class="row">
                    <div class="col-md-12 col-12 mb--15">
                        <label for="alias">Ваше имя</label>
                        <input ng-model="newUser.name" id="alias" class="mb-0 form-control" type="text" placeholder="Укажите ваше имя">
                    </div>
                    <div class="col-12 mb--20">
                        <label for="email-reg">Ваш Email</label>
                        <input ng-model="newUser.email" class="mb-0 form-control" type="email" id="email-reg" placeholder="Введите ваш email адрес">
                    </div>
                    <div class="col-lg-6 mb--20">
                        <label for="password">Пароль</label>
                        <input ng-model="newUser.password" class="mb-0 form-control" type="password" id="password" placeholder="Укажите Пароль">
                    </div>
                    <div class="col-lg-6 mb--20">
                        <label for="password">Повторите пароль</label>
                        <input class="mb-0 form-control" type="password" id="repeat-password" placeholder="Укажите пароль повторно">
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-outlined" ng-click="register()">Регистрация</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
